package scbson.serialization

import scbson._
import BSONSerializationUtil._

trait TupleProtocolGenerated {
	[2..#implicit def Tuple1Format[[#T1:Format#]]:Format[([#T1#])]	=
			Format[([#T1#])](
				(out:([#T1#])) => {
					BSONArray.Var([#doWrite[T1](out._1)#])
				},
				(in:BSONValue) => {
					val	arr	= arrayValue(in)
					([#doRead[T1](arr(0))#])
				}
			)
	#
	]
}
